table
{
    border-collapse: collapse;
    display: inline-block;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}


th, td
{
    border: 2px solid black
}

.Titulo
{
    color:red;
    background-color: darkgrey;
}

.subtitulos
{
    background-color: cadetblue;
}
.raiz
{
    background-color:lightgoldenrodyellow;
}

.metadato
{
    background-color:lightgoldenrodyellow;
}

.seccion
{
    background-color:lightgoldenrodyellow;
}

.Agrupaciones
{
    background-color:lightgoldenrodyellow;
}

.semantica
{
    background-color:lightgoldenrodyellow;
}